.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}

.slider {
  width: 100%;
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: auto;
  padding: 20px;
  transition: all .3s;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .slider {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    min-height: auto;
    height: auto;
    margin: auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .slider {
    height: auto;
  }
}

.slider__item {
  display: flex;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
  }
}

.slider__img {
  width: 50%;
  flex-shrink: 0;
  height: auto;
  background-image: linear-gradient(147deg, rgba(254,138,57,0.43) 0%, rgba(253,56,56,0.41) 74%);
  border-radius: 20px;
  transform: translateX(0px);
  overflow: hidden;
}

.slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, rgba(254,138,57,0.31) 0%, rgba(253,56,56,0.17) 74%);
  border-radius: 20px;
  opacity: 0.1;
}

.slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .slider__img {
    transform: translateY(-50%);
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .slider__img {
    width: 100%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .slider__img {
    height: auto;
  }
}

.slider__content {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .slider__content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .slider__content {
    padding: 0;
  }
}

.slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all .4s;
}

.slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .slider__button {
    width: 100%;
  }
}

.slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 0px 50px 0px;
}

